@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.containerSlide {
  display: flex;
  overflow: hidden;
  padding-block: 60px;
  white-space: nowrap;
  margin-block: 4rem;
}

.logosSlide {
  display: flex;
  animation: 40s slide infinite linear;
}

.logosSlide img {
  width: 350px;
  margin-right: 10px; 
  object-fit: contain;
  background-color: #ffffff;
  /* height: 150px; */
}

.noAnimation {
  animation: none; 
}

