.businessInfo {
  width: 73%;
  color: var(--color-secundaryLight);
  margin: 0 auto;
}

.businessInfo h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-block: 1.5rem;
}

.businessImg {
  display: block;
  margin: 2.5rem auto;
}

.card-business {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;

  color: var(--color-secundaryLight);
  margin-bottom: 9.5rem;
}

.card-business li {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.card-business li img {
  width: 100%;
  object-fit: contain;
}

.card-business li p {
  width: 300px;
  font-size: .9rem;
}