.frontContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: nowrap;
  min-width: 100%;
  padding: 40px 150px 0px 150px;
  background: var(--color-fondo);
}

.title {
  color: var(--color-title);
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: 34px;
  width: 100%;
  font-weight: 700;
  font-family: var(--font-montserrat);
}

.h5mobile{
  color: var(--color-texts);
  font-size: 24px;
  margin-bottom: 15px;
  font-family: var(--font-openSans);
  display: none;
}

.button {
  padding: 1rem 3rem;
  color: #FFFFFF;
  background-color: var(--color-primary);
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: scale(0.99);
}


.bannerDescrip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
  padding-bottom: 45px;
}

.image{
  width: 700px;
  height: 700px;
}
.logo{
  width: 440px;
  height: 100px;
}


@media only screen and (max-width: 1290px) {
  .title {
    font-size: 3rem;
  }
  .image{
    max-width: 500px;
    max-height: 500px;
  }
 
  .logo{
  width: 400px;
  height: 100px;
}
}
@media only screen and (max-width: 1100px){
  .frontContainer{
    gap: 0.5rem;
  }
  .image{
    max-width: 400px;
    max-height: 400px;
  }
  .bannerDescrip {
    gap: 1.5rem;
    padding-left: 0.3rem;
  }
  .logo{
    width: 300px;
    height: 100px;
  }
  .title {
    font-size: 2rem;
  }
  .frontContainer{
    padding: 40px 80px 0px 80px;
  }
}
@media only screen and (max-width: 800px){
  .button{
    padding: 1rem 2rem;
  }
  .image{
    max-width: 330px;
    max-height: 330px;
  }
  .logo{
    width: 280px;
    height: 80px;
  }
}
@media only screen and (max-width: 700px){
  .bannerDescrip{
    gap: 0.6rem;
  }
  .image{
    display: none;
  }
  .bannerDescrip{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 435px){
  .button{
    padding: 1rem 1.3rem;
    font-size: 17px;
  }
  .title{
    width: 100%;
  }
  .frontContainer{
    padding: 0.3rem;
  }
}