.frontContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: nowrap;
  min-width: 100%;
  height: 600px;
  padding: 40px 150px 0px 150px;
  background: linear-gradient(90deg, #E7F7E6 49.41%, #F0F2F5 59.11%);
}

.title {
  color: var(--color-title);
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: 25px;
  width: 100%;
  font-weight: 700;
  font-family: var(--font-montserrat);
}

.h5mobile{
  color: var(--color-texts);
  font-size: 24px;
  margin-bottom: 15px;
  font-family: var(--font-openSans);
  display: none;
}

.button {
  padding: 1rem 3rem;
  color: #FFFFFF;
  background-color: var(--color-primary);
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: scale(0.99);
}


.bannerDescrip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
  padding-bottom: 45px;
}
.bannerImage{
  display: flex;
  justify-content: center;
  align-items: center;
/*   position: absolute;
  right: 17%; */
}
.image{
  width: 700px;
  height: 500px;
}
.logo{
  width: 400px;
  height: 100px;
}
/* @media only screen and (max-width: 1445px){
  .bannerImage{
    right: 15%;
    bottom: 0px;
  }
  .image{
  width: 600px;
  height: 450px;
}
.frontContainer{
  height: 450px;
  align-items: end;
}
.logo{
  width: 350px;
  height: 100px;
}
} */

@media only screen and (max-width: 1290px) {
  .title {
    font-size: 2rem;
  }
 
  .logo{
  width: 350px;
  height: 100px;
}
}
@media only screen and (max-width: 1100px){
  .frontContainer{
    gap: 0.5rem;
  }
  .bannerDescrip {
    gap: 1rem;
    padding-left: 0.3rem;
  }
  .logo{
    width: 300px;
    height: 100px;
  }
  .title {
    font-size: 1.5rem;
  }
  .frontContainer{
    align-items: end;
    padding: 0px 50px;
    height: 500px;
  }
  .image{
    width: 550px;
    height: 400px;
  }
}
@media only screen and (max-width: 900px){
  .button{
    padding: 1rem 2rem;
  }
  .image{
    width: 400px;
    height: 300px;
  }
  .logo{
    width: 230px;
    height: 80px;
  }
  .title {
    font-size: 1.5rem;
  }
  .frontContainer{
    height: 350px;
  }
}
@media only screen and (max-width: 749px){
  .bannerDescrip{
    gap: 0.4rem;
  }
  .title{
    font-size: 22px;
  }
}
@media only screen and (max-width: 643px){
   .image{
    display: none;
  }
  .bannerDescrip{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .frontContainer{
    background: #E7F7E6;
  }
}
@media only screen and (max-width: 435px){
  .button{
    padding: 1rem 1.3rem;
    font-size: 17px;
  }
  .title{
    width: 100%;
  }
  .frontContainer{
    padding: 0.3rem;
  }
}