.container-feacturedService {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-title);
  width: 100%;
}

.container-aboutServices {
  width: 73%;
  margin-block:.5rem ;
}

.titleServices {
  font-size: 2.5rem;
  font-size: 1.7rem;
  font-weight: bold;
  margin-block: .7rem;
}

.pServices {
  width:58%;
  font-size: 1.1rem;
  margin-block: 1rem;
}

.aboutServicesSpan {
  font-weight: bold;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  gap: 20px;

  width: 65%;
  margin-block: .7rem;
}

.cardContainer li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;

  border-radius: 10px;
  font-size: 1.3rem;
  width: 240px;
  height: 230px;
  font-weight:bolder;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.buttonService {
  border: none;
  background-color: var(--color-primary);
  color: #fff;
  font-weight: 600;
  width: 15.5rem;
  padding: 16px 50px;
  border-radius: 10px;
  margin: 1rem 0;
  text-align: center;
  cursor: pointer;
}

.buttonService:hover{
  color: #d4d4d4;
}

@media screen and (max-width: 1600px) {
  .container-aboutServices {
    width: 80%;
  }

  .pServices{ 
    width: 70%;
  }
}

@media screen and (max-width: 1090px) {
  .container-aboutServices {
    width: 85%;
  }
}

@media screen and (max-width: 859px) {
  .container-aboutServices {
    width: 92%;
  }

  .pServices {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .container-aboutServices {
    width: 100%;
    justify-content: center;
  }

  .pServices {
    display: none;
  }

  .cardContainer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .titleServices {
    font-size: 1.7rem;
    padding-left: 4rem;
  }
}

@media screen and (max-width: 431px) {
  .titleServices {
    font-size: 1.5rem;
    padding-left: 3.5rem;
  }
}



