.container-feacturedService {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-title);
  font-family: var(--font-openSans);
  width: 100%;
  margin-bottom: 5rem;
  background: #FFF;
  padding-block: 80px;
}

.container-aboutServices {
  /* width: 73%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block:.5rem;
  text-align: center;
}

.titleServices {
  font-size: 1.7rem;
  font-size: 2.5rem;
  font-weight: bold;
  margin-block: 1rem;
  font-family: var(--font-montserrat);
}

.pServices {
  width:55%;
  margin-block: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.aboutServicesSpan {
  font-weight: bold;
}

.cardContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;

  width: 65%;
  margin-block: 1.2rem;
}

.cardContainer li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;

  border-radius: 8px;
  font-size: 1.5rem;
  width: 240px;
  height: 230px;
  font-weight:bolder;
  background-color: #F0F2F5;
  box-shadow: 0px 4px 4px 0px #FF5220;
}

.buttonService {
  border: none;
  background-color: var(--color-primary);
  color: #fff;
  font-weight: 600;
  width: 15.5rem;
  padding: 16px 50px;
  border-radius: 10px;
  margin: 1rem 0;
  text-align: center;
  cursor: pointer;
  font-size: 1.3rem;
}

.buttonService:hover{
  color: #d4d4d4;
}

@media screen and (max-width: 1350px) {
  .cardContainer {
  justify-content: space-evenly;
  }
}

@media screen and (max-width: 1350px) {
  .container-aboutServices {
    width: 100%;
  }
}

@media screen and (max-width: 859px) {
  .pServices {
    width: 90%;
  }

  .cardContainer  {
    width: 90%;
  }
}


/* @media screen and (max-width: 800px) {
  .cardContainer  {
    width: 90%;
  }
} */

@media screen and (max-width: 660px) {
  .container-aboutServices {
    width: 100%;
    justify-content: center;
  }

  .pServices {
    display: none;
  }

  .cardContainer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .titleServices {
    font-size: 1.5rem; 
   
  }
}

@media screen and (max-width: 431px) {
  .titleServices {
    font-size: 1.5rem;
    /* padding-left: 3.5rem; */
  }
}

