.founderContain {
  width: 100%;
  margin-block: 7rem;
}

.founderContain h4 {
  color: #02311a;
  font-family: var(--font-montserrat);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 70px;
}

.founders {
  display: flex;
  justify-content: center;
  gap: 150px;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.founders .one {
  width: 40%;
  display: flex;
}

.founders .two {
  width: 40%;
  display: flex;
}

.info h6 {
  width: 100%;
  color: #02311a;
  font-family: var(--font-openSans);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.info p:first-of-type {
  color: #02311a;
  font-family: var(--font-openSans);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 7px;
}

.info p:nth-of-type(2) {
  width: 85%;
  font-family: var(--font-openSans);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 230px;
}

/* MEDIA QUERIES MOBILE */

@media only screen and (max-width: 599px) {
  .founderContain {
    width: 30%;
  }

  .founderContain h4 {
    color: #02311a;
    font-family: var(--font-montserrat);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 40px;
  }

  .founders {
    flex-direction: column;
    align-items: stretch;
  }

  .founders .picture {
    width: 400px;
    height: 350px;
    box-shadow: 0px 10px 10px 0px #ff744c;
    object-fit: cover;
    border-radius: 50px;
  }
}

/* MEDIA QUERIES TABLET */

@media only screen and (max-width: 904px) {
  .founderContain {
    width: 100%;
  }

  .founderContain h4 {
    width: 100%;
    color: #02311a;
    font-family: var(--font-montserrat);
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .founders {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* gap: 150px; */
    /* align-items: center; */
    padding: 15px;
    margin-left: 20px;
  }

  .founders .picture {
    width: 300px;
    height: 250px;
    box-shadow: 0px 10px 10px 0px #ff744c;
    object-fit: cover;
    border-radius: 50px;
  }
}
