.mvv-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  gap: 2rem;
  font-family: var(--font-openSans);
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, #F0F2F5 0%, rgba(240, 242, 245, 0.00) 100%);
}

.mvvTitle {
  font-family: var(--font-montserrat);
  color: #7C7979;
  font-size: 40px;
  /* margin-bottom: 2.5rem; */
  text-align: center;
  padding: 50px 150px;
  width: 100%;
  /* font-weight: bold; */
}

.mvvTitle span {
  color: var(--color-primary);
}

.mvv-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 120px;
}

.mvv-card li {
  width: 290px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 1rem;
  border-radius: 16px;
  margin-bottom: 3rem;
  border-radius: 16px;
  border: 3px solid #43A047;
  background: #F0F2F5;
}

.mvv-card li h3 {
  font-size: 1.5rem;
  color: #02311A;
}

.containerp {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  color: #545454;
  padding: 0px 10px;
}

.infoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image{
  width: 60px;
  height: 60px;
}
@media only screen and (max-width: 1300px) {
  .mvv-card {
    padding: 1rem;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .containerp {
    font-size: 1rem;
  }

  .mvvTitle {
    font-size: 38px;
    width: 100%;
  }
}

@media only screen and (max-width: 953px) {
  .mvv-card li {
    width: 200px;
    height: 254px;
    padding: 0.7rem;
  }

  .image {
    width: 40px;
    height: 40px;
  }

  .containerp {
    font-size: 10px;
    width: 100%;
    padding-inline: .7rem;
  }

  .mvv-card li h3 {
    font-size: 16px;
  }

  .mvvTitle {
    font-size: 24px;
    width: 100%;
    padding: 2.5rem 1.5rem;
  }
}

@media only screen and (max-width: 707px) {

  .containerp {
    line-height: 1.5rem;
    font-size: 16px;
  }

  .mvv-card {
    gap: 20px;
  }

  .infoContainer {
    justify-content: center;
  }
  .mvv-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .mvv-card li {
    width: 250px;
    height: 300px;
    padding: 0.7rem;
    gap: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 571px) {
  .mvv-Container {
    padding: 1.5rem;
  }

  .mvv-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .image {
    width: 60px;
    height: 60px;
  }

  .containerp {
    font-size: 20px;
  }

  .mvvTitle {
    font-size: 22px;
    width: 100%;
  }

  .mvv-card li {
    width: 290px;
    height: 350px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 1.8rem;
  }
}

.infoContainer {
  display: flex;
  justify-content: space-between;

  align-items: center;
  flex-direction: column;
}
