.mvv-Container {
  font-family: var(--font-openSans);
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 80px 160px;
}

.mvvTitle {
  font-family: var(--font-montserrat);
  color: var(--color-title);
  font-size: 46px;
  font-size: 2.5rem; 
  font-weight: 600;
  /* margin-bottom: 2.5rem; */
  padding-inline: 200px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  width: 65%;
}

.mvvTitle span {
  color: var(--color-primary);
}

.mvv-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  /* margin-block: 2.5rem; */
}

.mvv-card li {
  width: 330px;
  height: 370px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 34px;

  border-radius: 16px;
  background: var(--Fondo, #F0F2F5);
  box-shadow: 0px 4px 4px 0px #FF5220;
  margin-bottom: 3rem;
}

.mvv-card li h3 {
  font-size: 2rem;
  color: #02311A;
}

.mvv-card li p {
  width: 90%;
  text-align: center;
  font-size: 1.5rem;
}

@media screen and (max-width: 1300px) {
  .mvvTitle {
    width: 100%;
  }
}

@media screen and (max-width: 1050px) {
  .mvv-card li {
    width: 250px;
    height: 400px;
  }

  .mvvTitle {
    font-size: 1.9rem;
    width: 100%;
    padding: 30px 50px;
  }
} 

@media screen and (max-width: 880px) {
  .mvv-card li {
    width: 230px;
    height: 370px;
  }

  .mvv-card li p {
    font-size: 1.1rem;
    width: 100%;
  }

  .mvvTitle {
    font-size: 1.9rem;
    width: 100%;
  }
} 

@media screen and (max-width: 770px) {
  .mvv-card li {
    width: 210px;
    height: 370px;
  }
} 

@media screen and (max-width: 750px) {
  .mvv-card {
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .mvv-card li {
    width: 50%;
    border-radius: 16px;
  }

  .mvvTitle {
    font-size: 1.5rem;
    width: 100%;
  }

  .mvv-card li p {
    font-size: 1.1rem;
    width: 90%;
  }
} 

@media screen and (max-width: 560px){
  .mvv-card li {
    width: 60%;
    border-radius: 16px;
  }
  
  .mvvTitle {
    font-size: 1.3rem;
    width: 100%;
  }
} 

@media screen and (max-width: 365px){
  .mvv-card li {
    width: 70%;
  }
} 