.mvv-Container {
  font-family: var(--font-openSans);
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 80px 150px;
}

.mvvTitle {
  font-family: var(--font-montserrat);
  color: var(--color-title);
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
  margin: 1rem auto;
  width: 90%;
}

.mvvTitle span {
  color: var(--color-primary);
}

.mvv-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-block: 2.5rem;
}

.mvv-card li {
  height: 420px;
  width: 350px;
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

  border-radius: 16px;
  background: var(--Fondo, #F0F2F5);
  box-shadow: 0px 4px 4px 0px #FF5220;
}

.mvv-card li h3 {
  font-size: 32px;
  color: #000;
}

.mvv-card li p {
  width: 90%;
  text-align: center;
  font-size: 1.5rem;
  /* padding-inline: .2rem; */
}

.mvv-card li image {
}

/* @media screen and (max-width: 768px) {
  .mvvTitle{
    font-size: 24px;
  }
} */
