.bannerContain {
  background-color: #F0F2F5;
  padding: 50px 40px;
}

.bannerContain h1 {
  width: 70%;
  text-align: center;
  margin: auto;
  color: #ff5220;
  font-family: var(--font-montserrat);
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 3rem;
}

.bannerContain h1 span {
  color: #02311a;
}

/* SERVICES */

.servicesContain {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.services {
  width: 30%;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.6rem;
}

.services div h6 {
  width: 50%;
  color: #4d8650;
  font-family: var(--font-montserrat);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.services .containCheck {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 24px;
  border: 5px solid #43A047;
  border-radius: 50%;
}

/* MEDIA QUERIES TABLET */

@media only screen and (max-width: 904px) {
  .bannerContain h1 {
    width: 100%;
    font-size: 32px;
  }

  .services {
    width: 100%;
    display: flex;
    justify-content: center;
    
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }

  .services div h6 {
    width: 100%;
    color: #4d8650;
    font-family: var(--font-montserrat);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .services div img {
    width: 20px;
    height: 15px;
    margin-right: 0px;
    margin-top: 0px;
  }
}

/* MEDIA QUERIES MOBILE */

@media only screen and (max-width: 755px) {
  .bannerContain h1 {
    font-size: 28px;
  }
  .servicesContain {
    flex-direction: column;
    align-items: center;
  }

  .services {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 30px;
  }

  .services .item {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .services div h6 {
    width: 100%;
    font-size: 18px;
    text-align: center;
  }

  .services div img {
    margin: 0px;
  }
}
