.containerRates {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    border-radius: 16px;
    background: linear-gradient(180deg, #E7F7E6 0%, rgba(231, 247, 230, 0.00) 100%);
    padding: 80px 20px 100px 100px;
    border-radius: 15px;
}

.titleOne {
    font-size: 40px;
    font-family: var(--font-montserrat);
    color: var(--color-title);
    margin: 20px 0;
    text-align: center;
}

.titleTwo {
    font-size: 32px;
    font-family: var(--font-montserrat);
}

.background {
    width: 100%;
    position: relative;
}

.containerRates p {
    font-family: var(--font-openSans);
}

.titles {
    font-family: var(--font-montserrat);
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    color: var(--color-title);
    gap: 30px;

}

.contentRates {
    display: flex;
}

.contentInfo {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.contentInfo h2 {
    color: #02311A;
    font-family: var(--font-montserrat);
}

.contentInfo p {
    font-size: 18px;
    color: #7C7979;

}

.analize {
    text-align: center;
    width: 90%;
}

.span {
    color: var(--color-primary);
}

.contentRates h4 {
    font-family: var(--font-openSans);
    color: var(--color-title);
}

.containerRates article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.containExample {
    display: flex;
    gap: 20px;
}

.num {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #43A047;
    font-size: 20px;
    background-color: white;
    border: 2px solid #43A047;
    padding: 6px 12px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-weight: bold;
    font-family: var(--font-openSans);
}

.imgHands {
    object-fit: cover;

}

.containerImg {
    width: 600px;
    height: 400px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    top: 120px;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.containerImgTable {
    display: none;
}

.imgHandsTable {
    display: none;
}



@media only screen and (max-width: 1330px) {
    .containerImg {
        width: 40%;
        height: 350px;
        top: 200px;
    }
}

@media only screen and (max-width: 950px) {

    .containerRates {
        width: 100%;
        margin: 0;
        padding: 20px;
        text-align: center;
    }

    .contentInfo {
        width: 90%;
    }

    .titleOne {
        margin: 0 auto;
    }

    .contentRates {
        flex-direction: column-reverse;
        align-items: center;

    }

    .containerImg {
        display: none;
    }

    .containerImgTable {
        border-radius: 15px;
        max-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        overflow: hidden;
    }

    .imgHandsTable {
        width: 100%;
        object-fit: cover;
        display: block;
    }

    .imgHandsTable {
        object-fit: cover;
    }

    .containExample {
        flex-direction: column;
        align-items: center;
    }

    .analize {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 600px){
    .titleOne{
        font-size: 30px;
    }
}

