.containerInnovaUlima {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 80px 0px;
  width:100%;
  font-family: var(--font-openSans);
}

.allianceData {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  width: 80%;
}

.img {
  width: 100%;
}

.innovaUlimaContent {
  display: flex;
  flex-direction: column;
  gap: 30px;

  font-size: 24px;
  font-weight: 400;
  color: #374F42;
  margin-block: 2.5rem;
}

.link {
  color: #374F42;
}