.bannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  min-width: 100%;
  gap: 1rem;
  padding: 2rem 150px;
}

.bannerDescription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.title {
  color: var(--color-texts);
  font-size: 60px;
  text-align: center;
  font-family: var(--font-montserrat);
  font-weight: 900;
}
.title span{
  color: var(--color-primary);
}

.description {
  color: var(--color-texts);
  font-size: 28px;
  width: 50%;
  text-align: center;
  font-family: var(--font-openSans);
  margin-bottom: 2rem;
}
.description2{
  font-size: 20px;
  width: 50%;
  color: var(--color-texts);
  text-align: center;
  font-family: var(--font-openSans);
  margin-bottom: 0.7rem;
}


.button {
  border-radius: 8px;
  font-size: 18px;
  padding: 15px 50px;
  border: none;
  color: #FFF;
  font-family: var(--font-roboto);
  background-color: var(--color-primary);
}

.button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: scale(0.99);
  cursor: pointer;
}

.image {
  max-width: 600px;
}
@media only screen and (max-width: 1348px){
  .title{
    font-size:40px ;
    width: 100%;
  }
  .bannerContainer{
    justify-content: space-between;
    padding: 50px 100px;
    margin-top: 1.5rem;
  }
  .image {
    max-width: 500px;
    max-height: 500px;
  }
  .description{
    width: 70%;
  }
  .description2{
    width: 70%;
  }
}
@media only screen and (max-width: 1158px){
  .bannerContainer{
    padding: 30px 80px;
    margin-top: 1rem;
  }
  .description{
    font-size: 18px;
  }
  .description2{
    font-size: 16px;
  }
  .image {
    max-width: 400px;
    max-height: 400px;
  }
}
@media only screen and (max-width: 900px){
  .bannerContainer{
    flex-direction: column;
    gap: 10px;
    padding: 0px 50px;
    margin-top: 0.7rem;
  }
  .imgContain{
    padding: 0;
  }
}
@media only screen and (max-width: 600px){
  .bannerContainer{
    padding: 10px 10px;
    width: 100%;
    margin-top: 0.5rem;
  }
  .title{
    font-size: 35px;
    font-weight: 600;
    font-family: var(--font-openSans);
  }
  .image{
    width: 300px;
    height: 300px;
  }
  .description{
    font-size: 16px;
  }
  .description2{
    font-size: 14px;
  }
  .button{
    padding: 8px 10px;
    font-size: 14px;
  }
}