* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-primary: #02311A;
  --color-secondary: #FF5220;

}

body {
  background-color: #FAFAFA;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  background-color: #FAFAFA;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

span {
  color: var(--color-secondary);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}