.formContainer {
  padding: 60px 100px;
  background-color: #fff;
}

/* INPUT DATA */

.inputContain {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  gap: 75px;
  margin-bottom: 25px;
}

.inputInfo {
  width: 30%;
  position: relative;
}

.inputInfo label {
  position: absolute;
  background-color: #fff;
  left: 10px;
  top: -9px;
  padding: 2px;
  color: #02311a;
  font-family: var(--font-openSans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.inputInfo input {
  width: 70%;
  color: #02311a;
  font-family: var(--font-openSans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  height: 55px;
  border: 2px solid #02311a;
  padding: 10px;
}

.inputInfo input:focus {
  outline: none;
  border-color: #02311a;
  box-shadow: 0 0 9px rgba(5, 29, 17, 0.5);
}

/* TEXT AREA DATA */

.textAreaContain {
  padding: 15px;
}

.textAreaInfo {
  width: 100%;
  position: relative;
}

.textAreaContain .textAreaInfo:first-child {
  margin-bottom: 80px;
}

.textAreaInfo label {
  position: absolute;
  left: 10px;
  top: -12px;
  background-color: #fff;
  padding: 2px;
  color: #02311a;
  font-family: var(--font-openSans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.textAreaInfo input[type="text"] {
  width: 100%;
  height: 120px;
  color: #02311a;
  font-family: var(--font-openSans);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border: 2px solid #02311a;
  padding: 20px 10px;
  resize: none;
}

.textAreaInfo input[type="text"]:focus {
  outline: none;
  border-color: #02311a;
  box-shadow: 0 0 9px rgba(5, 29, 17, 0.5);
}

/* CHECK */

.checkedContain {
  display: flex;
  padding: 15px;
}

.checkbox {
  border: 3px solid #ff5220;
  width: 20px;
  height: 20px;
}

.checkedContain p {
  color: #02311a;
  font-family: var(--font-openSans);
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 10px;
  margin-top: -2px;
}

/* BUTTON */

.buttonContain {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.buttonForm {
  /* padding: 15px 50px; */
  background-color: #ff5220;
  padding: 15px 50px;
  color: #fff;
  font-family: var(--font-openSans);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 8px;
}

.sendContain {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.sendContain h2 {
  padding: 15px 50px;
  color: #fff;
  font-family: var(--font-openSans);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 8px;
}

.green {
  background-color: #02311a;
}

.red {
  background-color: #f01010;
}
