.containerNavbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    min-width: 100%;
    height: 6rem;
    background: #FFF;
    gap: 6rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
  }

  .navB{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 3rem;
  }
  
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
  
 .link {
    color: #000000;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
    font-family: var(--font-montserrat);
}
  
 .link:hover {
    background-size: 100% 2px;
    cursor: pointer;
    color: #FF5220;
  }
  
  
  .activeLink {
    color: #0b854e;
  }

.button {
  color: #FFF;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  background: #02311A;
  font-family: var(--font-openSans);
}

.button:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: scale(0.98);
  }

  @media only screen and (max-width: 1160px){
    .links{
      gap: 1.5rem;
    }
    .link{
      font-size: 1rem;
    }
    .button{
      font-size: 1rem;
      padding: 6px 12px;
    }
    .logo{
      width: 200px;
    }
    .containerNavbar{
      justify-content: space-between;
    }
    .whatsapp{
      width: 30px;
      height: 30px;
    }
  }
  @media only screen and (max-width: 900px){
    .links{
      display: none;
    }
    .containerNavbar{
      height: 5rem;
    }
    .button {
      margin-right: 6rem;
    }
  }
  @media only screen and (max-width: 460px){
    .logo{
      width: 150px;
    }
    .containerNavbar{
      padding: 0.5rem 0.5rem;
    }
  }
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: scale(0.98);
}
