.containerBenefits {
  width: 100%;
  font-family: var(--font-roboto);
}

.cardBenefits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  /* background-color: #fff; */
  background: linear-gradient(180deg, #F0F2F5 0%, rgba(240, 242, 245, 0.00) 46.88%);
  padding: 30px 0px 50px 0px;
}

.containerBenefits p {
  width: 75%;
  margin: auto;
  margin-bottom: 15px;
  color: #000;
  font-family: var(--font-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.containerBenefits h2 {
  /* width: 75%; */
  text-align: center;
  margin: auto;
  color: #111;
  font-family: var(--font-roboto);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  color: #02311A;
  margin-block: 1rem;
  margin-top: 80px;
}

.benefits-card-container {
  width: 70%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.benefits-card-container li {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  border-radius: 16px;
  width: 500px;
  height: 450px;
  margin: 1.5rem;
  border: 4px solid #43A047;
  gap: 30px;
  padding-inline: 1.5rem;
}

.benefits-card-container li img {
  width: 100%;
  margin: 0 auto;
}

.benefits-card-container li h3 {
  text-align: center;
  color: #02311A;
  font-weight: 700;
  /* margin-block: 1rem; */
}

.benefits-card-container li p {
  color: #374F42;
  font-size: 1.2rem;
  padding-inline: 1rem;
  margin: 0;
  width: 100%;
}

.benefits-card-container li p img {
  width: 15px;
  height: 15px;
  margin-inline: .3rem;
}

.cardBenefits {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonBeneficts{
  display: inline-block;
  border: none;
  background-color: var(--color-primary);
  color: #fff;
  font-weight: 600;
  padding: 16px 36px;
  border-radius: 8px;
  margin: 1rem auto;
  text-align: center;
  cursor: pointer;
  font-size: 1.3rem;
}

@media screen and (max-width:1600px) {
  .benefits-card-container {
    width: 100%;
  }
}

@media screen and (max-width:1120px) {
  .benefits-card-container {
    width: 100%;
  }

  .benefits-card-container li {
    width: 40%;
  }
}

@media screen and (max-width:830px) {
  .benefits-card-container {
    width: 100%;
  }

  .benefits-card-container li {
    width: 60%;
  }
}

@media screen and (max-width:630px) {
  .benefits-card-container li {
    width: 75%;
  }
}

@media screen and (max-width:530px) {
  .benefits-card-container {
    width: 100%;
  }

  .benefits-card-container li {
    width: 100%;
  }

  .benefits-card-container li p {
    font-size: 1rem;
    padding-inline: 0;
  }
}