.containerBenefits{
  width: 100%;
  font-family: var(--font-roboto);
}

.benefits-card-container {
  width: 70%;

  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;

}

.benefits-card-container li {
  width: 450px;
  height: 420px;
  margin: 1.5rem;
  border: 5px solid #F7D1BB;
  padding: 1.5rem;
}

.benefits-card-container li img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-block: .5rem;
}

.benefits-card-container li h3 {
  text-align: center;
  color: #646A7A;
  margin-block: 1rem;
}

.benefits-card-container li p {
  padding: .5rem;
  color: #646A7A;
  font-size: 1.2rem;
} 

.cardBenefits {
  display: flex;
  justify-content: center;
  align-items: center;
}