.containerCamara {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 80px 0px;
  width:100%;
  font-family: var(--font-openSans);
}

.allianceData {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  width: 76%;
}

.img {
  width: 100%;
  object-fit: contain;
}

.camaraContent {
  display: flex;
  flex-direction: column;
  gap: 30px;

  font-size: 21px;
  font-weight: 400;
  color: #374F42;
  margin-block: 2.5rem;
}

.link {
  color: #374F42;
  font-size: 12px;
  line-height: 16px;
}



@media screen and (max-width: 1000px) {
  .dateAbout {
    display: flex;
    flex-direction: column;
  }
}