.bannerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 40px 150px;
    font-family: var(--font-openSans);
    color: var(--color-title);
}

.title {
    font-size: 40px;
    text-align: left;
}

.titles {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    text-align: left;
    gap: 25px;
}

.titles h3 {
    font-size: 26px;
}

.containerSteps {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: 20px;
    width: 50%;
}

.calendlyImg {
    border-radius: 23.009px;
    border: 5.752px solid rgba(2, 49, 26, 0.25);

}

.button {
    margin-top: 20px;
    padding: 10px 30px;
    color: #FFFFFF;
    background-color: var(--color-primary);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    /* display: inline-flex; */
    max-width: 300px;
}

.content {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.content h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.bannerSection span {
    color: var(--color-primary);
}

.containerBody {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logoStep h3 {
    padding: 7px 20px;
    background-color: #fff;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 100%;
    text-align: center;
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.stepInfo{
    width: 100%;
}

.imagesContent {
    position: relative;
    margin: 0 auto;
}


.point {
    position: absolute;
    top: -50px;
    left: 25px;
    border: 5px solid var(--color-fondo);
    background-color: green;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    z-index: 20;
}

.imagesContent img {
    width: 600px;
}

/* Tablet Version */
@media only screen and (max-width: 1500px) {
    .bannerSection {
        padding: 40px 100px;
    }

    .imagesContent img {
        width: 500px;
    }
}

@media only screen and (max-width: 1300px) {
    .bannerSection {
        padding: 40px 80px;
    }
}

@media only screen and (max-width: 1163px) {
    .imagesContent img {
        width: 450px;
    }

    .bannerSection {
        padding: 40px 50px;
    }
}

@media only screen and (max-width: 980px) {
    .containerBody h3 {
        font-size: 18px;
    }

    .title {
        font-size: 24px;
    }

    .content {
        font-size: 12px;
    }

    .calendlyImg {
        max-width: 350px;
    }

    .containerBody h3 {
        font-size: 23px;
    }

    .logoStep h3 {
        padding: 12px 20px;
    }

    .titles {
        margin-bottom: 20px;
    }

    .imagesContent img {
        width: 400px;
        height: 400px;
    }
}

/* Mobile Version */

@media only screen and (max-width: 768px) {
    .bannerSection {
        flex-direction: column;
        padding: 0;
        padding-top: 0.7rem;
        text-align: center;
    }

    .containerBody {
        flex-direction: column-reverse;
        align-items: center;
    }

    .content {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        width: 70%;
    }
.stepInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stepInfo p{
    width: 65%;
}

    .content h4 {
        font-size: 18px;
        margin: 0px;
    }

    .containerSteps {
        justify-content: center;
        align-items: center;
    }

    .titles {
        padding: 0px 30px;
        gap: 10px;
    }

    .titles h3 {
        font-size: 18px;
    }

    .imagesContent {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .content h3 {
        width: 100%;
    }

    .containerSteps {
        padding: 0;
        width: 100%;
    }
    .imagesContent{
        width: auto;
    }
}

@media only screen and (max-width: 500px) {
    .imagesContent img {
        width: 320px;
        height: 250px;
    }
    .stepInfo p{
        width: 85%;
    }
}