.bannerSection {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    width: 80%;
    margin: 50px auto;
    padding: 40px;
    font-family: var(--font-openSans);
    color: var(--color-title);
}

.title {
    font-size: 40px;
    text-align: left;
}

.titles {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    text-align: left;
    gap: 25px;
}

.titles h3 {
    font-size: 26px;
}

.containerSteps {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: 20px;
    width: 50%;

}

.calendlyImg {
    border-radius: 23.009px;
    border: 5.752px solid rgba(2, 49, 26, 0.25);

}

.button {
    margin-top: 20px;
    padding: 10px 30px;
    color: #FFFFFF;
    background-color: var(--color-primary);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    /* display: inline-flex; */
    max-width: 300px;
}

/* .bannerSection h3 {
    font-size: 30px;
} */

.content {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.content h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.bannerSection span {
    color: var(--color-primary);
}

.containerBody {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    gap: 55px;
    width: 100%;
}

.logoStep {
    width: 60px;
    height: 50px;


}

.logoStep h3 {
    padding: 7px 20px;
    background-color: #fff;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 100%;
    text-align: center;
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imagesContent {
    position: relative;
    width: 40%;
    margin: 0 auto;
}

.faceCalendly {
    position: absolute;
    top: -50px;
    left: -50px;
    max-width: 120px;

}

.point {
    position: absolute;
    top: -50px;
    left: 25px;
    border: 5px solid var(--color-fondo);
    background-color: green;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    z-index: 20;
}

/* Tablet Version */

@media only screen and (max-width: 980px) {
    .bannerSection {
        width: 90%;
        margin: 0;
        align-items: center;
    }

    .containerBody h3 {
        font-size: 18px;
    }

    .title {
        font-size: 24px;
    }

    .content {
        font-size: 14px;
    }

    .calendlyImg {
        max-width: 350px;
    }

    .containerBody h3 {

        font-size: 23px;
    }

    .logoStep h3 {
        padding: 12px 20px;
    }

    .faceCalendly {
        max-width: 100px;
    }

    .titles {
        margin-bottom: 20px;
    }

    .point {
        width: 20px;
        height: 20px;
    }
}

/* Mobile Version */

@media only screen and (max-width: 768px) {
    .bannerSection {
        flex-direction: column;
        margin: 15px;
        padding: 0;
        text-align: center;
    }

    .containerBody {
        flex-direction: column-reverse;
        align-items: center;
    }

    .content {
        flex-direction: column;
        align-items: center;
        width: 70%;
    }


    .containerSteps {
        justify-content: center;
        align-items: center;
    }

    .titles {
        margin: 45px 0;
    }

    .titles h3 {
        font-size: 16px;
    }

}