.featuresSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  background-color: #fff;
  padding: 48px 150px;
  display: flex;
  justify-content: space-between;

}

.contactSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.redes {
  display: flex;
  gap: 30px;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

/* 
{
  color: #111;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
} */