.featuresSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  background-color: #fff;
  padding: 48px 150px;
  display: flex;
  flex-direction: column;

}

.containerFooter {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.contactSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.redes {
  display: flex;
  gap: 30px;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.button {
  display: flex;
  padding: 15px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--ff-5220, #FF5220);
  color: white;
  font-weight: 600;
  border: none;
}

.text {
  color: var(--02311-a, #02311A);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* 
{
  color: #111;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
} */