.featuresSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  background-color: #fff;
  padding: 50px 100px;
  display: flex;
  justify-content: space-around;

}

.contactSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.redes {
  display: flex;
  gap: 10px;
}