.containerUsil{
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 80px 0px;
  width:100%;
  font-family: var(--font-openSans);
}

.allianceData {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  width: 80%;
}

.img {
  width: 100%;
}

.usilContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-block: 2.5rem;
  font-size: 21px;
  font-weight: 400;
  color: #374F42;
}

.link {
  color: #374F42;
  font-weight: bold;
}