.containerWarmi {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 80px 0px;
  width:100%;
  font-family: var(--font-openSans);
}

.allianceData {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  width: 80%;
}

.img {
  width: 100%;
  /* height: ; */
  object-fit: cover;
}

.warmiContent {
  display: flex;
  flex-direction: column;
  gap: 30px;

  font-size: 21px;
  font-weight: 400;
  color: #374F42;
  margin-block: 2.5rem;
}

.container-btn {
  display: flex;
  justify-content: center;
  margin-block: 1rem;
  gap: 10px;
}

.btn{
  width: 5%;
  padding: 5px 10px;
  border: none;
  font-weight: bold;
}