.casesContain {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  background-color: #D6EDD4;
  padding: 80px 120px;
  overflow: hidden;
}

.casesContain h3 {
  width: 100%;
  text-align: center;
  color: #02311a;
  font-family: var(--font-montserrat);
  font-size: 30px;
  font-style: normal;
  line-height: normal;
}

/* CARROUSEL */

.carrousel {
  height: 250px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

/* CARROUSEL BOX */

.box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 5px 5px 0px #ff744c;
  padding: 15px 20px;
}

.box img {
  /* margin-top: 1rem; */
  border-radius: 50px;
}

.box .comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: 1rem;
}

.box .comments h6 {

  color: orangered;
  font-size: 19px;
}

.box .comments h4 {
  color: #02311a;
  text-align: end;
  font-family: var(--font-openSans);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.box .comments p {
  width: 85%;
  color: #374f42;
  font-family: var(--font-openSans);
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
}

/* ARROWS */

.arrows {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.arrowLeft {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background-color: #f9f4f3;
  border: 1px solid #f9f4f3;
  border-radius: 40px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.arrowLeft:hover {
  transform: scale(0.9);
}

.imageArrowLeft {
  margin: 10px 0px 0px 10px; /*arriba, derecha, abajo, izquierda*/
  padding: 3px;
}

.arrowRight {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background-color: #f9f4f3;
  border: 1px solid #f9f4f3;
  border-radius: 40px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.arrowRight:hover {
  transform: scale(0.9);
}

.imageArrowRigth {
  margin: 10px 0px 0px 10px; /*arriba, derecha, abajo, izquierda*/
  padding: 3px;
}

/* ANIMATION */
@keyframes slideOutBox {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slideInBox {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.box.slide-out {
  animation: slideOutBox 0.5s ease;
}

.box.slide-in {
  animation: slideInBox 0.5s ease;
}

/* MEDIA QUERIES TABLET */

@media only screen and (max-width: 1216px) {
  .casesContain {
    padding: 50px 30px;
  }

  .casesContain h3 {
    margin: 0px;
    font-size: 32px;
    padding: 10px 10px;
  }

  .carrousel {
    height: auto;
    gap: 20px;
    padding: 20px 0px;
  }

  .box {
    height: 200px;
  }

  .box .comments h6 {
    font-size: 22px;
  }

  .box .comments p {
    width: 100%;
    font-size: 15px;
  }
}

/* MEDIA QUERIES MOBILE */

@media only screen and (max-width: 755px) {
  .casesContain {
    padding: 30px 0px;
  }

  .casesContain h3 {
    width: 100%;
    text-align: center;
    margin-left: 0px;
  }

  .carrousel {
    width: 90%;
    gap: 10px;
  }

  .box {
    height: auto;
    justify-content: space-evenly;
    padding: 10px;
  }

  .box img {
    width: 80px;
    height: 80px;
  }

  .box .comments h6 {
    font-size: 15px;
  }

  .box .comments p {
    width: 100%;
    font-size: 12px;
    line-height: 14px;
  }


}





/* @media only screen and (max-width: 904px) {
  .casesContain {
    padding: 20px 20px;
  }

  .casesContain h3 {
    width: 50%;
    margin-left: 1rem;
    margin-bottom: 0px;
  }

  .carrousel {
    height: auto;
    gap: 20px;
  }

  .box {
    width: 100%;
    height: 220px;
    position: relative;
    padding: 15px 20px;
    margin-top: 120px;
    margin-bottom: 40px;
  }

  .box img {
    position: absolute;
    top: -55px;
    left: 140px;
  }

  .box .comments {
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
  }

  .box .comments h6 {
    font-size: 23px;
  }
} */

/* MEDIA QUERIES MOBILE */
/* @media only screen and (max-width: 599px) {
  .casesContain h3 {
    width: 80%;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .box {
    position: relative;
    margin-top: 70px;
  }

  .box img {
    position: absolute;
    top: -65px;
    left: 195px;
  }

  .box .comments {
    margin-top: 30px;
    text-align: center;
    padding: 10px 10px;
  }

  .box .comments h6 {
    font-size: 34px;
  }
} */
